.button {
  border-radius: 6.25rem;
  box-sizing: border-box;
  padding: .75rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  box-shadow: none;
  border: none;
}