.popup__close {
  width: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: poInter, Arial, sans-serif;
}

@media (max-width: 370px) {
  .popup__close {
    width: 26px;
    top: -46px;
    right: 23px;
  }
}