.article__date {
  font-family: Source Sans Pro, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: rgb(182, 188, 191);
  margin: 0;
}
