.article__tag {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
  padding: 11.5px;
  margin: 0 0 0 1.5rem;
  min-width: 72px;
  text-align: center;
  max-height: 37px;
}

@media (max-width: 1024px) {
  .article__tag {
    margin: 0 0 0 .5rem;
  }
}
