.cower__search {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(209, 210, 214);
  border-style: outset;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

@media (max-width: 500px) {
  .cower__search {
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    backdrop-filter: none;
    flex-direction: column;
  }
}