.footer__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-decoration: none;
}

.footer__link:visited {
  color: rgb(10%, 11%, 13%);
}