<!DOCTYPE html>
<html class="html" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewsExplorer</title>
  <link rel="icon" href="<%=require('./images/icons/favicon.png').default %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body class="body">
  <div class="cower">
    <header class="header header_white root">
      <p class="header__logo">NewsExplorer</p>
      <nav class="nav header__menu">
        <ul class="header__nav nav__list">
          <li class="header__item"><a class="header__link" href="https://news-explorer-praktikum.ru">Главная</a></li>
          <li class="header__item"><a class="header__link"
              href="https://news-explorer-praktikum.ru/articles.html">Сохранённые статьи</a></li>
          <li class="header__item"><button class="button header__button">Авторизоваться</button></li>
        </ul>
      </nav>
      <button class="header__icon"><img src="<%=require('./images/icons/menu.svg').default %>"
          alt="Иконка открыть меню"></button>
    </header>
    <main class="cower__container">
      <h1 class="cower__title">Что творится в мире?</h1>
      <p class="cower__subtitle text">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.
      </p>
      <form class="cower__search">
        <input class="cower__input" placeholder="Введите тему новости" required>
        <button class="cower__button button">Искать</button>
      </form>
    </main>
  </div>
  <section class="root result">
    <h2 class="result__title title">Результаты поиска</h2>
    <div class="result__container">
      <div class="article lower-layer">
        <img src="<%=require('./images/image_08.jpg').default %>" class="article__photo" alt="Фото к статье">
        <div class="article__container article__container_unauthorized">
          <button class="article__icon"><img src="<%=require('./images/icons/save.svg').default %>"
              alt="Иконка сохранить"></button>
        </div>
        <div class="article__description">
          <p class="article__date">2 августа, 2019</p>
          <h3 class="article__title">Национальное достояние – парки</h3>
          <p class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
            складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к
            природе.</p>
        </div>
        <p class="article__source">Лента.ру</p>
      </div>

      <div class="article lower-layer">
        <img src="<%=require('./images/image_04.jpg').default %>" class="article__photo" alt="Фото к статье">
        <div class="article__container article__container_unauthorized">
          <button class="article__icon"><img src="<%=require('./images/icons/save_marked.svg').default %>"
              alt="Иконка сохранить"></button>
        </div>
        <div class="article__description">
          <p class="article__date">2 августа, 2019</p>
          <h3 class="article__title">Лесные огоньки: история одной фотографии</h3>
          <p class="article__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы
            запечатлеть ускользающую красоту одного из местных чудес природы.</p>
        </div>
        <p class="article__source">Медуза</p>
      </div>

      <div class="article lower-layer">
        <img src="<%=require('./images/image_07.jpg').default %>" class="article__photo" alt="Фото к статье">
        <div class="article__container article__container_unauthorized">
          <div class="article__icon-container">
            <p class="article__tooltip lower-layer">Войдите, чтобы сохранять статьи</p>
            <button class="article__icon"><img src="<%=require('./images/icons/save_hover.svg').default %>"
                alt="Иконка сохранить"></button>
          </div>
        </div>
        <div class="article__description">
          <p class="article__date">2 августа, 2019</p>
          <h3 class="article__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
          <p class="article__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о
            необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
        </div>
        <p class="article__source">Риа</p>
      </div>
    </div>
    <button class="button result__button">Показать ещё</button>
  </section>

  <section class="author root">
    <picture class="author__picture">
      <source media="(max-width: 769px)" srcset="<%=require('./images/author-tablet.png').default %>">
      <source media="(max-width: 1920px)" srcset="<%=require('./images/author.png').default %>">
      <img src="<%=require('./images/author.png').default %>" alt="Портрет автора проекта" class="author__photo">
    </picture>
    <div class="author__about">
      <h2 class="title">Об авторе</h2>
      <p class="author__description text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем
        вы занимаетесь, какими технологиями разработки владеете.</p>
      <p class="author__description text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут
        научились, и чем можете помочь потенциальным заказчикам.</p>
    </div>
  </section>
  <section class="root result">
    <i class="circle-preloader"></i>
    <p class="result__text text">Идет поиск новостей...</p>
  </section>

  <footer class="footer root">
    <p class="footer__copyright">&#169; 2020 Supersite, Powered by News API</p>
    <div class="footer__container">
      <nav class="nav">
        <ul class="footer__nav-text nav__list">
          <li class="footer__item-text"><a class="footer__link" href="https://news-explorer-praktikum.ru"
              target="_blank">Главная</a>
          </li>
          <li class="footer__item-text"><a class="footer__link" href="https://praktikum.yandex.ru"
              target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <nav class="nav">
        <ul class="footer__nav-icons nav__list">
          <li class="footer__item-icon"><a class="footer__link" href="https://github.com/AllaBoo" target="_blank"><img
                src="<%=require('./images/icons/github.svg').default %>" class="footer__icon" alt="Иконка GitHub"></a>
          </li>
          <li class="footer__item-icon"><a class="footer__link"
              href="https://www.facebook.com/profile.php?id=100006530780129" target="_blank"><img
                src="<%=require('./images/icons/facebook.svg').default %>" class="footer__icon"
                alt="Иконка Facebook"></a></li>
        </ul>
      </nav>
    </div>
  </footer>

  <section class="root result">
    <img src="<%=require('./images/icons/not-found_v1.svg').default %>" class="result__img"
      alt="Пиктограмма нет результатов поиска">
    <p class="result__not-found-title">Ничего не найдено</p>
    <p class="text result__not-found-subtitle">К сожалению по вашему запросу ничего не найдено.</p>
  </section>

  <div class="popup">
    <div class="popup__content">
      <img src="<%=require('./images/icons/close.svg').default %>" alt="Иконка закрытия окна" class="popup__close">
      <h3 class="popup__title">Вход</h3>
      <form class="popup__form">
        <div class="popup__input-container">
          <p class="popup__input-name">Email</p>
          <input type="email" minlength="2" class="popup__input" placeholder="Введите почту" required>
          <span class="popup__error-message">Неправильный формат email</span>
        </div>
        <div class="popup__input-container">
          <p class="popup__input-name">Пароль</p>
          <input type="text" minlength="2" class="popup__input" placeholder="Введите пароль" required>
          <span class="popup__error-message"></span>
        </div>
        <button type="submit" class="popup__button button popup__button_active" disabled="disabled">Войти</button>
      </form>
      <div class="popup__text-container">
        <p class="popup__text">или</p>
        <a class="popup__link">Зарегистрироваться</a>
      </div>
    </div>
  </div>

  <div class="popup">
    <div class="popup__content">
      <img src="<%=require('./images/icons/close.svg').default %>" alt="Иконка закрытия окна" class="popup__close">
      <h3 class="popup__title">Регистрация</h3>
      <form class="popup__form">
        <div class="popup__input-container">
          <p class="popup__input-name">Email</p>
          <input type="email" minlength="2" class="popup__input" placeholder="Введите почту" required>
          <span class="popup__error-message">Неправильный формат email</span>
        </div>
        <div class="popup__input-container">
          <p class="popup__input-name">Пароль</p>
          <input type="text" minlength="2" class="popup__input" placeholder="Введите пароль" required>
          <span class="popup__error-message"></span>
        </div>
        <div class="popup__input-container">
          <p class="popup__input-name">Имя</p>
          <input type="text" minlength="2" class="popup__input" placeholder="Введите пароль" required>
          <span class="popup__error-message"></span>
        </div>
        <p class="popup__error-message popup__error-message_centred">Такой пользователь уже есть</p>
        <button type="submit" class="popup__button button popup__button_active"
          disabled="disabled">Зарегистрироваться</button>
      </form>
      <div class="popup__text-container">
        <p class="popup__text">или</p>
        <a class="popup__link">Войти</a>
      </div>
    </div>
  </div>

  <div class="popup">
    <div class="popup__content">
      <img src="<%=require('./images/icons/close.svg').default %>" alt="Иконка закрытия окна" class="popup__close">
      <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>
      <a class="popup__link">Войти</a>
    </div>
  </div>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>